@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body, ul{
    margin: 0;
    margin-top: 120px;
    // background: rgb(13,12,12);
    // background: radial-gradient(circle, rgba(13,12,12,1) 0%, rgba(0,61,134,1) 100%);
    background-size: auto;
    background-image: url("https://i.pinimg.com/originals/e0/d3/ac/e0d3ac7b7bfd590a87619fc5bc0396f1.jpg");
}  
*{
    font-family: 'Outfit', sans-serif;
}